body {
    background-color: #BDBDBD;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}
td {
    padding: 5px;
    text-align: center;
}
tr {
    height: 45px;
}
p {
    text-align: center;
}
